@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/* Noto Sans Korean Bold 700 */

body,button,input {
    font-family: 'Noto Sans KR', sans-serif;
}

.div1 {
    text-align: center;
    width: 100%;
}

.div-table {
    margin: 0 auto;
    width: 500px;
    border: 1px solid black
}
.div-table tr:nth-child(1) {
    background-color: #FFF9C4;
}

tr, td {
    border: 1px solid;
}

td {
    width: 250px;
}

fieldset {
    width: 475px;
    margin: 0 auto;
}

